## Node GitHub Action dependencies must be checked-in
# node_modules
node_modules/@types
node_modules/**/**.ts
node_modules/.bin
node_modules/.package-lock.json
node_modules/typescript
node_modules/fsevents
.DS_Store
